/*****************
colors
rgb(201,232,242)



*****************/
body{
    margin: 0%;
}

*{
    margin: 0;
}
/******************************

First section- Navigation bar

*******************************/

.navbar{
    height: 100px;
    background-color: rgb(201,232,242);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav,
.leftnav{
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 20px;
    align-items: center;
}


.nav{
    justify-content: flex-start;
}

.leftnav{
    justify-content: flex-end;
    margin-right: 20px;
}


.nav ul,
.leftnav ul{
    margin-right: 15px;
}


.nav li a,
.leftnav li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000000;
    
    
}


.nav li,
.leftnav li {
    color: #000000;
    font-family: 'lato',sans-serif;
    font-weight: 700;
    font-size: 24px;
    list-style: none;
}

/***********************
Body- The properties that apply to all the section-container except the footer
************************/
.buying,
.renting,
.selling,
.about{
    height: 100vh;
    display: flex;

}

/**********SECTION-1: Buying*********/
.buying{
    background-color:rgb(201,232,242);
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.section1{
    display: flex;
    background-color: rgb(201,232,242);
    height: 100vh;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
}


.section-div{
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    text-align:justify;
    flex-direction: column;
    gap: 20px;
    align-content: center;
}

.section-div-1{
    margin-left: 80px;
    margin-top: 80px;
}

.section-div-2{
    margin-top: 80px;
}
.section1 div img{
    height:70%;
    width: auto;
    
}

.btn{
    background-color: #F9CACA;
    border-radius: 25px;
    width: 30%;
    border: 0;
    padding: 15px;
    font-size: 20px;
}

/*******************************
SECTION2- Buying, selling, renting
********************************/

.section2{
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

/* .section2div1,
.section2div2{
    border: 3px solid yellow;
} */

.section2div1{
    height:25%;
    text-align: center;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    gap: 20px;

}
.section2div2{
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section2div2 div{
    width: 30%;
    /* border: 3px solid green; */
}

#section2div2div1{
    background:linear-gradient(#C1EDF6, #FFEBE0) ;
}

#section2div2div2{
    background: linear-gradient(#F8C7CB, #FFE8C2);
}

#section2div2div3{
    background:linear-gradient( #F8C7CB 20%,#E7FDFC)
}

#section2div2div1,
#section2div2div2,
#section2div2div3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.section2 div img{
    height: 70%;
}


/**********************
SECTION THREE
**********************/

.section3{
    height: 100vh;
    background:linear-gradient(#C5E4F2, #EBF5FA);
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
}

.section3 div{
    width: 50%;
    margin-left: 15%;
    margin-top: 100px;
}
.section3 div img {
    height: 95%;
    width: auto;

}

#section3div2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
